input:focus {
    outline: none;
}

.body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #1d1d1d;
    height: 100vh;
}

.newBook {
    display: flex;
    flex-direction: column;
    padding: 10%;
    text-align: center;
    background-image: linear-gradient(180deg, #015949, #1d1d1d);
    grid-column: 1 / 2;
}

h2 {
    color: white;
    text-transform: uppercase;
}

.newBook label, .newBook div {
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin: 15px 0px;
}

.newBook input {
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    text-align: center;
    height: 25px;
}

input[type="checkbox"] {
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: .8em;
    height: .8em;
    border: 0.15em solid white;
    border-radius: 0.3em;
  }

.button {
    align-self: center;
    width: 35%;
    height: 25px;
    border-radius: 25px;
    color: white;
    border: solid #ffffff 1px;
    background-color: #015949;
    cursor: pointer;
}

.library {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    grid-column: 2 / 3;
}

.book {
    text-align: center;
    border-radius: 5px;
    padding: 5%;
    background-image: linear-gradient(125deg, #666666, #1d1d1d);
    color: black;
}

.book h3 {
    font-size: 25px;
}

.read {
    background-image: linear-gradient(125deg, #015949, #1d1d1d);
    color: white;
}

.nobooks {
    color: white;
}